{% extends "base.html" %}

<title>frettir</title>

{% block content %}

<div class="page-header">
  <link rel="stylesheet" href="/static/stylesheets/styles.css">
</div>

<header>

    <nav><h1>Fréttir</h1>
        <a href="/">Frétta yfirlit</a>
        <a href="/frettalisti/almennt">Almennt</a>
        <a href="/frettalisti/sport">Sport</a>
        <a href="/frettalisti/tolvuleikir">Tölvuleikir</a>
        
    </nav>
</header>
<main>
    <main>
        <section class = "banners">
            <div class ="banner">
            <h1>Spennandi frétt</h1>
            <img src="/static/{{ frett ['mynd'] }}" alt="">
        </div>

        <div class = "banner">
            <h3>Fréttir dagsins</h3>
            <p> {{ frett ['fyrirsogn'] }} </p>
            <p> {{ frett ['meginmal'] }} </p>
            <p> {{ frett ['hofundur'] }} </p>
            <a href="/" class="linkur">Fréttayfirlit</a>
        </div>

        </section>
    </main>
</main>
<footer>
    <div>
<h2>Guðrú Gígja VEF verkefni 2</h2>
    </div>
    <p>Copyright &copy;GGV 2021</p>
</footer>
{% endblock %}

{% block scripts %}

{% endblock %}
